.camera  .content .image{
	margin: 20px 0;
}
.camera .image img{
	width: 100%;
}
.camera .content ul{
	margin: 30px;
	list-style-image: url('image/list.png');
}
.camera .content ul li{
	padding: 5px;
}
.camera .writer{
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.writer h5{
	color: #f8a631;
	font-family: "Raleway";
	font-weight: bold;
}
#avarta{
	width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#avarta:after{
	display: inline-block;
    margin: 0 0 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #ededed;
    width: 40%;
}
#avarta:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #ededed;
    width: 40%;
}
.writer p{
	margin: 0 60px;
	font-size: 13px;
	color: #999999;
}
.writer ul{
	list-style-type: none;
	margin: 30px 0;
}
.writer ul li{
	display: inline;
	padding-right: 15px;
}
.writer ul li a{
	font-size: 11px;
	font-weight: bold;
}
.related{
	width: 92%;
}
.related h3{
	font-family: Dosis;
	font-weight: bold;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 30px;
}
.current_post{
	width: 100%;
	background-color: #f4f4f4;
	margin-bottom: 30px;
}