@media screen and (min-width:1024px) {
	.list{
				.populor{
					.picture{
						img{
							width: 100%;
						}
					}
					.slug{
						padding:0 5px;
					}
				}
			}
}
@media screen and (max-width:1024px) {
	.contents{
		.slider{
			.input{
				input{
					font-size: 12px;
				}
			}
			
			.adv{
				.one,.two, .three,.foure{
					width: 90px;
					height: 96px;
				}
				.one,.two{
					top:25px;
				}
				.three,.foure{
					bottom:25px;
				}
			}
		}
	}

}
@media screen and (max-width:850px) {
	.header{
		.head_menu{
			.logo{
				float: left;
			}
			.menu{
				display: none;
				position: fixed;
				z-index: 2;
				background: rgba(0, 0, 0, 0.6);
				right: 0;
				width: 50%;
				li{
					display: block;
					padding: 10px 35px;
				}
			}
			.menu1{
				top:45px;
			}
			.menu2{
				top:216px;
			}
			#icon{
				display: inline-block;
				margin-top: 30px;
				float: right;
				margin-right: 50px;
				font-size: 20px;
							}
		}
	}
	.slider{
		text-algin:center;
		width: 300px;
		margin: 0 auto;
		.gallery{
			ul{
				li{
					width: 65px;
					height: 65px;
				}
			}
		}
	}
}
@media screen and (max-width: 768px){
	.contents{
		.photography,.status,.music1, .camera2, .camera3{
			.cont{
				
				background-repeat: repeat;
				height: auto;
				padding-bottom: 25px;
			}	
		}
		.comment{
			.no1{
				.avar{
					width: 18%;
					margin-top: 5px;
					.img{
						
						left:30%;

					}
					.stt{
						display: none;
					}
				}
				.cmt{
					width: 82%;
					.user{
						width: 85%;
						.name{
							width: 45%;
						}
						.date{
							width: 55%;
							font-size: 10px!important;
						}
					}
				}
				.reply{
					padding-right: 3px;
					width: 15%;
					a{
						font-size: 9px!important;
					}
					
				}
			}
		}
	}
	footer{
		.bottom{
			font-size: 10px;
			ul{
				margin: 10px 0;
				text-align: left;
				li{
					padding:0;
				}
			}
		}
	}
} 
@media screen and (max-width: 480px){
	.related {
		.current_post{
			.post{
				img{
					width: 23%;}
			}
		} 
	}
	.comment{
		width: 100%;
		.no1{
			margin: 20px 0;
			.img{
				width: 100%;
			}
		}
	}
	.here{
		.bottom{
				button{
					margin-top: 15px!important;
				}
			}
	}
}
@media screen and (max-width: 360px){
	#icon{
		padding-right: 40px;
	}
	.camera{
		.comment{
			.no1{
				height: 245px;
				.avar{
					margin-top: 20px;
				}
			}
		}
	}
	.related{
		.current_post{
			.post{
				.text{
					span, p{
						font-size: 10px!important;
					}
					h5{
						font-size: 13px!important;
					}
				}
			}
		}
	}
	.here{
		width: 100%;
		form{
			padding-left: 10px!important;
			.input{
				span,label{
					font-size: 12px;
				}

			}
			.bottom{
				button{
					margin-top: 15px!important;
				}
			}
		}
	}
	
}